<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PowerToysPublicDependencies" value="https://pkgs.dev.azure.com/shine-oss/PowerToys/_packaging/PowerToysPublicDependencies/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="C:\Program Files\dotnet\library-packs" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.NETCore.*" />
      <package pattern="Microsoft.WindowsDesktop.*" />
      <package pattern="Microsoft.Windows.SDK.*" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="runtime.*" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="Microsoft.NETCore.*" />
      <package pattern="Microsoft.WindowsDesktop.*" />
      <package pattern="Microsoft.Windows.SDK.*" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="runtime.*" />
    </packageSource>
    <packageSource key="PowerToysPublicDependencies">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
